---
layout: trip_layout
---
<h2>{{ page.title }}</h2>
<p class="meta">{{ page.date | date_to_string }}</p>

<div class="post">
{{ content }}
{% for p in site.categories[page.topic] reversed %}
	<div class="accordion">
			<div class="accordion-group">
			<div class="accordion-heading">
 				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion{{forloop.index}}" href="#collapse{{forloop.index}}">
    				{{ p.title}}
				</a>
			</div>
			<div id="collapse{{forloop.index}}" class="accordion-body collapse in">
  				<div class="accordion-inner">
   					{{ p.content | markdownify }}
  				</div>
			</div>
			</div> 
	</div>
{% endfor %}
</div>
